#start-btn
{
    width: 40%;
    color: khaki;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid black;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
    background-color: darkgrey;
}
body {
    background: #FC354C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}